
*{
    margin: 0;
    padding: 0;
}

.times {
position: absolute;
top: 300px;
left: 0;
}

.times > * {
    margin: 10px;
    background-image: linear-gradient(to right, rgb(22, 185, 1),rgb(29, 29, 29));
    -webkit-background-clip: text;
    color: transparent;
}


.box{
    width: 450px;
    float: left;
}

.container{
        position: relative;
        height: 95vh;
        background-image:linear-gradient(
            to right bottom,
            rgba(147, 250, 126, 0.8),
            rgba(147, 233, 90, 0.8));
        background-size: cover;
        background-position: top;
        clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
}


h1,h3 {
    margin: 25px;
    text-align: center;
    font-size: 70px;
    font-weight:700;
    font-family: serif;
    background-image: linear-gradient(to right, rgb(22, 185, 1),rgb(29, 29, 29));
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1px 5px 5px rgb(0, 180, 0);
}

h3 {
    font-size:25px; 
}
table {
    box-shadow: 6px 15px 5px rgb(106, 179, 38, .6)
}

.btn{
    font-size: 18px;
    color: rgb(0, 158, 0);
    border-radius: 1000px;
    border: 1px solid rgb(5, 163, 0);
    background-color: inherit;
    padding: 5px 15px;
    outline: none;
    cursor: pointer;
    transform: scale(1);
    transition:all .3s;
    /* box-shadow: 2px 8px 10x rgb(0, 0, 0); */
    box-shadow: 6px 6px 5px rgb(106, 179, 38, .6)
}

.btn:active{
    transform: scale(.9);
    box-shadow: 6px 6px 5px rgb(106, 179, 38, .6)
    
}

.cell{
    cursor: pointer;
    border: 1px solid green;
    width: 55px;
    height: 55px;
    text-align: center;
    color: rgb(9, 63, 2);
    font-weight: 900;
    text-shadow: 2px 7px 8px rgb(33, 151, 10, .7);
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top right , rgb(231, 231, 231),rgb(72, 255, 0, .7))
}

img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 168px;
    left: 390px;
}
